{% extends "base.html" %}

{% block content %}
    <div class="container mt-2" onload="setDropdown()">

        <div class="card-group">
            <div class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2>Part Types</h2>
                </div>
                <form class="form-group border-0">
                    <input type="hidden" name="action" value="newPartType">
                    <input type="submit" id="newPartTypeBtn" class="btn btn-success" name="newPartType" value="New Part Type" formmethod="post"/>
                </form>

                <div class="card-body overflow-auto" style="max-height: 30rem;">
                    <ul class="list-group">
                        {% for p in part_types %}
                            <div class="adminPartType">
                                {% if p != None %}
                                    {{ p.part_name }}
                                    <form method="post" style="display: inline;">
                                        <input type="hidden" name="action" value="copyPartType">
                                        <input type="hidden" name="partTypeId" value="{{ p.id }}">
                                        <input type="submit" class="btn-primary float-right" name="deletePartType" value="Copy">
                                    </form>
                                    {# Only create a link allowing edits if there aren't any existing batches for the part type #}
                                    {% if p.batches|length == 0 %}
                                        <form action="{{ url_for('part_creation.create_part_type') }}"
                                              method="get"
                                              style="display: inline;">
                                            <input type="hidden" name="action" value="editPartType">
                                            <input type="hidden" name="part_type_id" value="{{ p.id }}"/>
                                            <input type="submit" class="btn-warning float-right" value="Edit">
                                        </form>

                                        <form method="post" onsubmit="return confirm('Delete part type {{ p.part_name }}?')"
                                              style="display: inline;">
                                            <input type="hidden" name="action" value="deletePartType">
                                            <input type="hidden" name="partTypeId" value="{{ p.id }}">
                                            <input type="submit" class="btn-danger float-right" name="deletePartType" value="Delete">
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2>Users</h2>
                </div>

                <form action="newuser">
                    <input type="submit" id="newUserBtn" class="btn btn-success" value="New User" formmethod="GET"/>
                </form>

                <div class="card-body overflow-auto border-0" style="max-height: 30rem;">
                    <ul class="list-group border-0">
                        {% for user in users %}
                            <li class="list-group-item border-0">
                                {{ user.username }}
                                <form action="{{ url_for('login.change_password') }}"
                                      method="get"
                                      style="display: inline;">
                                    <input type="hidden" name="action" value="resetPassword">
                                    <input type="hidden" name="user_id" value="{{ user.id }}"/>
                                    <input type="submit" class="btn-warning float-right" value="Change Password">
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="card border-0" style="min-width: 12rem;">
                <div class="card-header" style="height: 6rem;">
                    <h2>Batches</h2>
                </div>
                <div class="card-body overflow-auto border-0" style="max-height: 30rem;">
                    <form class="form-group">
                        <div class="row">


                            <div class="col">
                                <select class="form-control" name="month" id="monthDropdown">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>

                            <div class="col">
                                <select class="form-control" name="year" id="yearDropdown">
                                    {% for y in range(2019, current_year + 1) %}
                                        <option value="{{ y }}"> {{ y }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <input type="hidden" name="action" value="alterDates">
                                <input type="submit" name="alterDates" value="Refresh" formmethod="post">
                            </div>
                        </div>
                    </form>
                </div>


                {% for b in batches %}
                    <div class="row mt-3">
                        {% if b != None %}
                            <div class="col-6">
                                Batch {{ b.batch_number }} - {{ b.part_type.part_name }} ({{ b.parts|length }} parts)
                                {# Download data button #}
                            </div>
                            <div class="col">
                            <div class="row">
                                <form>
                                    <input type="hidden" name="batchId" value="{{ b.id }}"/>
                                    <input type="hidden" name="action" value="downloadData">
                                    <input type="submit" class="btn-primary float-right" name="downloadData" value="Download data" formmethod="post"/>
                                </form>
                            </div>

                            {# Download log button. Don't show if the batch has no CSVs #}
                            {% if b.csvs|length > 0 %}
                                <div class="row">
                                    <form>
                                        <input type="hidden" name="batchId" value="{{ b.id }}"/>
                                        <input type="hidden" name="action" value="downloadCsv">
                                        <input type="submit" class="btn-primary float-right" name="downloadCsv" value="Download CSV logs" formmethod="post"/>
                                    </form>
                                </div>
                            {% endif %}
                            <div class="row">
                                {# Delete batch button #}
                                <form onsubmit="return confirm('Delete batch {{ b.batch_number }}?')">
                                    <input type="hidden" name="batchId" value="{{ b.id }}"/>
                                    <input type="hidden" name="action" value="deleteBatch">
                                    <input type="submit" class="btn-danger float-right" name="deleteBatch" value="Delete batch" formmethod="post"/>
                                </form>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    </div>
    </div>


    <script>
        function setDropdown() {
            // Set the dropdowns to requested dates
            document.getElementById("monthDropdown").value = "{{ requested_month }}";
            document.getElementById("yearDropdown").value = {{ requested_year }};
        }
    </script>

{% endblock %}

