{% extends "base.html" %}

{% block content %}
    <div class="container mt-2">
        <form method="get" action="{{ url_for('part_creation.create_part_type') }}">
            <input type="hidden" name="part_type_id" value="{{ part_type.id }}"/>
            <input type="submit" class="btn btn-primary" value="< Back to Create Part screen"/>
        </form>
        <div class="container">
            <form id="stepInfoForm" name="stepInfo" action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="formName" value="stepInfo"/>
                <div class="row">

                    <div id="stepInfoCreationForm" class="col-4">
                        <h2>Step Info</h2>
                        <label for="stepTitleInput" class="form-label">Step Title</label>
                        <input type="text"
                               id="stepTitleInput"
                               class="form-control"
                               name="stepTitle"
                               value="{{ step.step_title }}">
                        <label for="stepInstructionsInput">Step Instructions</label>
                        <textarea
                                id="stepInstructionsInput"
                                class="form-control"
                                name="stepInstructions">{{ step.step_instructions }}</textarea>
                    </div>

                    <div id="dataCreationForm" class="col-4">
                        <h2>Data</h2>
                        <p class="form-text">Data to be requested from the user during this step</p>

                        <input type="checkbox" id="allPartsCheckbox" Value="allParts">
                        <label for="allPartsCheckbox">Same value for all parts in batch</label>



                        <div class="row">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="newField" placeholder="New Field Name...">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" onclick="addToList()">Add</button>
                            </div>
                        </div>

                        <ul id="fieldList">
                            {% for f in fields %}
                                {% if f != None %}
                                    <li class="fieldLi">{{ f.field_name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <input type="checkbox" id="importCsvCheckbox" name="importCsvCheckbox" Value="importCsv"
                                {% if step.csv_upload %}
                               checked="checked"
                                {% endif %}
                        >
                        <label class="mt-5" for="importCsvCheckbox">Request CSV upload for this step</label>
                    </div>


                    <div id="uploadImageForm" class="col-4">
                        <h2>Image</h2>
                        <input type="hidden" name="formName" value="uploadImage"/>
                        <span class="btn btn-default btn-file">
                            <input type="file" name="image">
                        </span>
                        <div id="uploadImagePreview" class="stepCreationColumn">
                            {% if step.step_image %}
                                <img id="uploadImage" src="{{ step.step_image }}">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" class="btn btn-primary mt-4" id="stepFormSubmit" value="Save">
                </div>

            </form>
        </div>


        <br>


    </div>
    <script>
        /**
         * Control the behaviour of the list of data fields
         *
         */
        const fieldList = document.getElementsByClassName("fieldLi");
        for (let i = 0; i < fieldList.length; i++) {
            let delBtn = document.createElement("BUTTON");
            const delTxt = document.createTextNode("Delete");
            delBtn.setAttribute("type", "button");
            delBtn.className = "close btn btn-sm btn-danger";
            delBtn.appendChild(delTxt);
            fieldList[i].appendChild(delBtn);
        }

        // Click on a close button to hide the current list item
        const close = document.getElementsByClassName("close");
        for (let i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                //Hide the element
                const div = this.parentElement;
                const len = (div.innerText.length - delTxt.length);
                let fieldName = div.innerText.substring(0, len); //Remove the "delete" that appears
                // Remove line breaks that were appearing in fieldName for some reason
                fieldName = fieldName.replace(/(\r\n\t|\n|\r\t)/gm, "");
                div.style.display = "none";
                //Send the POST request to delete the database entry
                const xhttp = new XMLHttpRequest();
                xhttp.open("POST", "/deletedatafield", true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                const jsonString = '{ "field_name": "' + fieldName + '" , "step_id": "{{step.id}}"}';
                xhttp.send(jsonString);
            }
        }


        // Create a new list item when clicking on the "Add" button, and save it to the database
        function addToList() {
            const li = document.createElement("li");
            const inputValue = document.getElementById("newField").value;
            const t = document.createTextNode(inputValue);
            li.appendChild(t);
            li.className = "fieldLi";
            if (inputValue === '') {
                alert("Please enter a name for the data to be recorded");
            } else {
                document.getElementById("fieldList").appendChild(li);
            }
            document.getElementById("newField").value = "";

            const delBtn = document.createElement("BUTTON");
            const txt = document.createTextNode("Delete");
            delBtn.setAttribute("type", "button");
            delBtn.className = "close btn btn-sm btn-danger";
            delBtn.appendChild(txt);
            li.appendChild(delBtn);

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    const div = this.parentElement;
                    div.style.display = "none";
                }
            }
            const allParts = document.getElementById("allPartsCheckbox").checked;
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/savedatafield", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(
                '{ "field_name": "' + inputValue + '" , ' +
                '"step_id": "{{step.id}}" , ' +
                '"batch_wide":' + allParts + ' }');
        }

    </script>
{% endblock %}