{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Create New Batch</h1>

        <form class="form-group" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.csrf_token }}

                {{ form.batch_number.label }}
                {{ form.batch_number(class_="form-control") }}
                {% for error in form.batch_number.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.part_type.label }}
                {{ form.part_type(class_="form-select") }}
                {% for error in form.part_type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.amount.label }}
                {{ form.amount(class_="form-control") }}
                {% for error in form.amount.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}