{% extends "base.html" %}


{#    Macro to create a single step. #}
{% macro showStep(step) %}
    <div
            {% if step.fields|length != 0 %}
                class="step collapsibleStep"
            {% else %}
                class="step collapsibleStep hasFields"
            {% endif %}
            {% if step.step_number| int % 2 == 0 %}
                style="background-color: lightgray"
            {% else %}
                style="background-color: white"
            {% endif %}
                id="step{{ step.step_number }}">
        <div class="container">
            <div class="row mt-2">
                <button
                        {% if step.fields|length != 0 %}
                            class="btn btn-light collapse_btn active hasFields"
                        {% else %}
                            class="btn btn-light collapse_btn active"
                        {% endif %}>

                    <h2>{{ step.step_title }}</h2>
                </button>
                <div class="row mt-2">

                    <div class="col-4">
                        <div class="stepInstructions">
                            <p class="fs-4">{{ step.step_instructions }}</p>
                        </div>

                        <div class="image">
                            {% if step.step_image %}
                                <img class="img-fluid rounded float-right" src="{{ step.step_image }}" alt="Instructional Image"/>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-8">
                        {% if step.fields|length != 0 %}
                            <div class="dataFields">
                                <form action="{{ url_for('prod_recording.production') }}?batch_id={{ current_batch.id }}"
                                      class="form-group"
                                      method="POST"
                                      name="formStepId{{ step.id }}"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="stepId" value="{{ step.id }}">
                                    <input type="hidden" name="action" value="saveStep">
                                    <input type="submit" class="btn btn-primary" value="Save Step">
                                    <div style="max-height: 500px; overflow-y:auto">
                                        <table class="table">
                                            <td></td>

                                            {% for field in step.fields %}
                                                {# Check whether all the batch's parts should share the same value for a field #}
                                                <td>
                                                    <p class="fs-5">{{ field.field_name }}</p>
                                                    <label>
                                                        <input id="checkboxId{{ field.id }}"
                                                               class="form-check-input"
                                                               value="checkboxId{{ field.id }}"
                                                               type="checkbox"
                                                               name="{{ field.id }}"
                                                               onclick="disableFields(this)"
                                                                {% if field.temp_batch_wide %}
                                                               checked="checked"
                                                                {% endif %}
                                                               onload="disableFields(this)">
                                                        Same value for all parts</label>
                                                </td>
                                            {% endfor %}
                                            <tr>
                                                {# The first row is for batch_wide data. {{ field.field_name }}#}
                                                <td>
                                                    All parts
                                                </td>
                                                {% for field in step.fields %}
                                                    <td>
                                                        {# An input for a batch-wide field of data #}
                                                        <input class="dataInputField dataInputFieldAll form-control"
                                                               type="text"
                                                               id="0:{{ field.id }}"
                                                                {# Name the field by the field_id preceded by 0: #}
                                                               name="0:{{ field.id }}"
                                                                {% if field.temp_batch_wide %}
                                                               value="{{ get_field_data(current_batch.parts[0].id,field.id) }}"
                                                                {% else %}
                                                               style="background-color: gray;"
                                                               disabled

                                                                {% endif %}
                                                        />
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            {% for part in current_batch.parts %}

                                                <tr>
                                                    {# Further rows for individual part data. #}
                                                    <td class="fieldPartId">
                                                        Part {{ part.relative_id }}
                                                    </td>
                                                    {# A column for each field of data#}
                                                    {% for field in step.fields %}
                                                        <td>
                                                            {# An input for a field of data #}
                                                            <input width="50%"
                                                                   type="text"
                                                                   class="{{ field.id }} dataInputField form-control"
                                                                    {# Name the field by the id of the part and field in the database#}
                                                                   name="{{ part.id }}:{{ field.id }}"
                                                                   id="{{ part.id }}:{{ field.id }}"
                                                                    {% if field.temp_batch_wide %}
                                                                   style="background-color: gray;"
                                                                   disabled
                                                                    {% endif %}
                                                                   value="{{ get_field_data(part.id,field.id) }}"/>
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>

                                    {% if step.csv_upload %}
                                        <div id="uploadCsvForm">
                                            <h2>Attach CSV</h2>
                                            <span class="btn btn-default btn-file">
                                    <input type="file" name="csv_file">
                                    </span>
                                            <input type="submit" value="Upload CSV">
                                        </div>
                                        {#  Flash any messages for the current step #}
                                        {% with messages = get_flashed_messages(category_filter=["step" + step.id|string]) %}
                                            {% if messages %}
                                                <ul>
                                                    {% for message in messages %}
                                                        <li class="message">{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% block content %}
    <div class="container">
        <form class="form-control border-0"
              onsubmit="return confirm('Mark batch {{ current_batch.batch_number }} as completed?')">
            <input type="hidden" name="batchId" value="{{ current_batch.id }}"/>
            <input type="hidden" name="action" value="completeBatch">
            <input type="submit" class="btn btn-primary" name="completeBatch" value="Mark batch as completed"
                   formmethod="post"/>
            <button type="button" id="collapseAll" class="collapse_btn btn btn-primary active">Collapse Steps That Do
                Not
                Require Data Input
            </button>
        </form>
    </div>


    {% for step in steps %}
        {{ showStep(step) }}
    {% endfor %}



    <script>

        // Receives a checkbox element and disables the corresponding fields. The name of the checkbox should be the
        // database id of the field it is disabling
        function disableFields(element) {
            // Set the all-parts field
            let allPartsField = document.getElementById("0:" + element.name);

            if (element.checked) {
                allPartsField.style = "";
                allPartsField.disabled = false;
            } else {
                allPartsField.disabled = true;
                allPartsField.style = "background-color: gray;";
            }

            // Set the separate fields
            let fields = document.getElementsByClassName(element.name);
            for (var i = 0; i < fields.length; i++) {
                if (element.checked) {
                    fields[i].disabled = true;
                    fields[i].style = "background-color: gray;";
                } else {
                    fields[i].style = "";
                    fields[i].disabled = false;

                }
            }
        }


    </script>

    <script>
        // Controls collapsing steps
        let coll = document.getElementsByClassName("collapse_btn");
        let i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                if (this.id === "collapseAll") {
                    toggleAll(this)
                } else {
                    toggleElement(this.nextElementSibling);
                }
                this.classList.toggle("active");
            });

            function toggleElement(element) {
                if (element.style.display === "none") {
                    element.style.display = "flex";
                } else {
                    element.style.display = "none";
                }

            }

            function toggleAll(collapseAllButton) {
                let content = document.getElementsByClassName("collapsibleStep");
                let collapsing = false;
                if (collapseAllButton.classList.contains("active")) {
                    collapsing = true;
                }
                for (i = 0; i < content.length; i++) {
                    if (!content[i].classList.contains("hasFields")) {
                        continue;
                    }
                    if (collapsing) {
                        content[i].style.display = "none"
                    } else {
                        content[i].style.display = "flex"
                    }
                    let button = content[i].previousElementSibling;
                    if (collapsing) {
                        if (button.classList.contains("active")) {
                            button.classList.remove("active")
                        }
                    } else {
                        if (!button.classList.contains("active")) {
                            button.classList.add("active")
                        }
                    }
                }
            }
        }

    </script>

    {% if scroll_to %}
        {#        Scrolls the page to a step on load#}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.location.hash = '#{{ scroll_to }}';
            });
        </script>
    {% endif %}
    

{% endblock %}


